{% extends "base.html" %}
{% import "auth/_macros.html" as macros %}

{% block content %}
  <div class="col-md-6 mx-auto">
  	<div class="content-section">
  	<form action="" method="POST">
  		{{ form.hidden_tag() }}
  		<fieldset class="form-group">
  			<legend class="border-bottom mb-4">Register</legend>
  			{{ macros.render_form(form.email) }}
				{{ macros.render_form(form.username) }}
				{{ macros.render_form(form.password) }}
				{{ macros.render_form(form.password2) }}
				<div class="form-group mt-4">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
  		</fieldset>
  	</form>
  	</div>
  	<div class="border-top pt-3">
			<small class="text-muted">
				Already have an account? <a class="ml-2" href="{{ url_for('auth.login') }}">Login here</a>
			</small>
		</div>
  </div>
{% endblock %}