:root {
	--primary-color: #180d7a;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Oxygen', Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

body {
/*	background-image: url('index_bg.jpg');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

a {
	text-decoration: none;
}

.text-small {
	font-size: 0.75rem;
}

/* NAVBAR */

nav {
	width: 100%;
	min-height: 55px;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: #c2c2c2;
}

.navbar-text {
	font-size: 1.1rem;
}

.bg-navbar {
	background-color: var(--primary-color);
}

span i.fas {
	color: #fff; 
	font-size: 28px;
}

span i.fas:hover {
	color: #8e8e8e;
}

ul.dropdown-menu {
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0;
	border-radius: 5px;
}

a.dropdown-item {
	width: 100%
	margin-left: 10px;
	color: #fff;
	border-radius: 5px;
}

a.dropdown-item:hover {
	background-color: #8e8e8e;
	color: #fff;
}

/* MAIN */

main {
	padding: 2rem 0;
	min-height: calc(100vh - 55px - 50px);

}

div#landingPageContent div.card {
	padding: 0;
}

.special-card {
  background-color: rgba(25, 25, 25, 0.3);
}

#landingPageContent {
	margin-top: 3rem;
	color: #000;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

/* FOOTER */

footer#footer {
/*	position: absolute;
	bottom: 0;*/
	width: 100%;
	height: 50px;
	background: rgb(50, 27, 150);
}

footer div.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}

footer div.container p {
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}

@media screen and (max-width: 768px) {
	div.card {
		margin: 1rem 0;
	}
}