{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
	<div class="col-md-6 mx-auto">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Admin Edit Profile</legend>
				{{ macros.render_form(form.email) }}
				{{ macros.render_form(form.username) }}
				<div class="form-group">
					{{ form.role.label(class="form-control-label") }}
					<div class="input-group">
						{{ form.role(class="custom-select") }}
					</div>
				</div>
				{{ macros.render_form(form.name) }}
				{{ macros.render_form(form.location) }}
				{{ macros.render_form(form.about_me) }}
				<div class="form-check">
					{{ form.confirmed(class="form-check-input") }}
					{{ form.confirmed.label(class="form-check-label") }}
				</div>
				<div class="form-group mt-4">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</fieldset>
		</form>
	</div>		
{% endblock %}